streamlit
streamlit_option_menu
pandas
matplotlib
numpy==1.26.1
scikit-learn
bertopic
gensim
nltk
networkx
requests
altair
seaborn
plotly
umap
scipy==1.15.2
hyperopt
scikit-optimize
st_clickable_images