streamlit
botocore
boto3
numpy==1.26.4
pandas
torch 
transformers 
matplotlib 
seaborn 
plotly 
scikit-learn 
pillow
streamlit_drawable_canvas
xgboost
imblearn
shap
nltk
accelerate
gensim
langchain
langchain_aws
jsonlines